    {{ define "main" }}
    <head>
        <!-- Include timeline-specific custom styles -->
        <link rel="stylesheet" href="{{ "css/timeline.css" | absURL }}">
    </head>

    <!-- Experience Timeline Section -->
    <section id="about">
        <h2>Main Experience Timeline (Sort by start date in descending order)</h2>
        <div class="timeline">
        <!-- Timeline Item: Aukfa -->
        <div class="timeline-item">
            <div class="timeline-circle-left"></div>
            <div class="timeline-date">
                <span>2023.03</span> - <span>2024.09</span>
            </div>
            <div class="timeline-content">
                <h3>Senior Software Engineer, Aukfa Inc.</h3>
                <h4>Toronto, Canada</h4>
                <p>Architected and implemented microservices for a Web3 chat platform, managing messaging, group chat, and message queue systems.</p>
            </div>
        </div>
       
        <!-- Timeline Item: Tencent -->
        <div class="timeline-item">
            <div class="timeline-circle-right"></div>
            <div class="timeline-date">
                <span>2021.11</span> - <span>2023.03</span>
            </div>
            <div class="timeline-content">
                <h3>Business Analytics Manager, Tencent</h3>
                <h4>Shenzhen, China</h4>
                <p>Led data-driven projects and developed operational models to monitor financial performance, utilizing data analysis and visualization tools.</p>
            </div>
        </div>
    
        <!-- Timeline Item: PwC -->
        <div class="timeline-item">
            <div class="timeline-circle-left"></div>
            <div class="timeline-date">
                <span>2021.03</span> - <span>2021.11</span>
            </div>
            <div class="timeline-content">
                <h3>Senior M&A Data Consultant, PwC</h3>
                <h4>Shanghai, China</h4>
                <p>Developed data due diligence frameworks and conducted top-down business model evaluations for multiple M&A projects.</p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-circle-right"></div>
            <div class="timeline-date">
                <span>2020.12</span> - <span>2024.05</span>
            </div>
            <div class="timeline-content">
                <h3>University of Pennsylvania</h3>
                <h4>Remote, USA</h4>
                <p>- Master of Computer Information Technology, 3.87</p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-circle-left"></div>
            <div class="timeline-date">
                <span>2018.08</span> - <span>2021.01</span>
            </div>
            <div class="timeline-content">
                <h3>Case Western Reserve University</h3>
                <h4>Cleveland, USA</h4>
                <p>- Master of Business Administration in Operations and Business Analytics, 4.00</p>
                <p>- Master of Science in Finance (Big Data Track), 4.00</p>
            </div>
        </div>
    
        <div class="timeline-item">
            <div class="timeline-circle-right"></div>
            <div class="timeline-date">
                <span>2015.09</span> - <span>2018.07</span>
            </div>
            <div class="timeline-content">
                <h3>Senior Associate, PwC</h3>
                <h4>Shenzhen, China</h4>
                <p>Contributed to audit engagements by performing financial audits, ensuring compliance with regulations, and enhancing audit efficiency through standardized procedures.</p>
            </div>
        </div>
        

        <div class="timeline-item">
            <div class="timeline-circle-left"></div>
            <div class="timeline-date">
                <span>2011.09</span> - <span>2015.07</span>
            </div>
            <div class="timeline-content">
                <h3>Guangdong University of Foreign Studies</h3>
                <h4>Guangzhou, China</h4>
                <p>- Bachelor of Science in Finance, 3.81</p>
                <p>- Bachelor of Business Administration in Accounting, 3.61</p>
            </div>
        </div>

        </div>
    </section>
    {{ end }}
