{{/* Favicon configuration using favicon_io folder */}}
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon_io/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon_io/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon_io/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "favicon_io/site.webmanifest" | absURL }}">
<link rel="shortcut icon" href="{{ "favicon_io/favicon.ico" | absURL }}">

