{{ $createdYear := .Site.Params.siteCreatedYear | default 2024 }}
{{ $currentYear := now.Format "2006" | int }}
{{ $yearRange := cond (eq $createdYear $currentYear) (string $createdYear) (printf "%d-%d" $createdYear $currentYear) }}
<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }}{{ . | safeHTML }}{{ end }} {{ $yearRange }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>

